.form-view {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        background-image: url('../../assets/paper.webp');
        width: 80%;
        border-radius: 5px;
        box-shadow: 0px 5px 100px 15px black;

        form {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 50px 100px;

            input {
                padding: 10px 10px;
                border-radius: 10px;
                border: 1px solid black;
            }

            textarea {
                padding: 10px 10px;
                border: 1px solid black;
                border-radius: 10px;
                resize: none;
            }

            label {
                text-align: start;
                font-weight: 600;
                font-size: 20px;
            }

            .submit {
                margin-top: 20px;
                width: 20%;
                align-self: flex-end;
                padding: 10px 20px;
                background: #2d2e2f; 
                font-size: 20px;
                color: white;
                border-radius: 10px;
                cursor: pointer;
            }

            .submit:disabled {
                pointer-events: none;
                opacity: 0.4;
            }

            h1 {
                text-align: center;
                font-size: 45px;
            }

            .validation-error {
                margin-top: 10px;
                font-weight: bold;
                align-self: center;
                color: red;
            }

            .validation-success {
                margin-top: 10px;
                font-weight: bold;
                align-self: center;
                color: green;
            }
        }
    }
}