.home-view {
    display: flex;
    justify-content: center;
    align-items: center;

    .home-container {
        background-image: url('../../assets/paper.webp');
        width: 80%;
        border-radius: 5px;
        box-shadow: 0px 5px 100px 15px black;
        padding: 50px 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;

        h1 {
            text-align: center;
            font-size: 45px;
        }

        ul, li {
            list-style-type: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .page {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 700px) {
    .home-view {
        .home-container {
            padding: 35px 70px;
            gap: 20px;
            font-size: 18px;
        }
    }
}

@media (max-width: 550px) {
    .home-view {
        .home-container {
            padding: 35px 50px;
            width: 85%;
            gap: 20px;
            font-size: 16px;
    
            h1 {
                font-size: 40px;
            }
    
        }
    }
}

@media (max-width: 400px) {
    .home-view {
        .home-container {
            padding: 35px 50px;
            width: 90%;
            gap: 20px;
            font-size: 14px;
    
            h1 {
                font-size: 35px;
            }
    
        }
    }
}