@font-face {
    font-family: chunk;
    src:  url('../../assets/fonts/Chunk.ttf');
}

$header-height: 8vh;

nav {
    height: $header-height;
    color: white;
    background-color: rgb(44, 40, 40);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    position: sticky;
    top: 0;

    .logo {
        display: flex;
        align-items: flex-end;
        gap: 10px;

        span {
            font-size: 28px;
            font-weight: 400;
            font-family: chunk;
        }
    }

    .image-logo {
        width: 50px;
    }

    .navLinks-container {
        display: flex;
        gap: 100px;
    }
    
    a {
        all: unset;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
    }
    
    a:hover {
        color: gray;
    }
}

@media (max-width: 1100px) {
    nav {
        .logo {
            span {
                font-size: 23px;
            }
        }
    
        .image-logo {
            width: 45px;
        }
    
        .navLinks-container {
            display: flex;
            gap: 50px;
        }
        
        a {
            font-size: 19px;
        }
    }
}

@media (max-width: 800px) {
    $header-height: 11vh;

    nav {
        display: flex;
        flex-direction: column;
        height: $header-height;
        justify-content: flex-start;
        .logo {
            flex: 1;
            span {
                font-size: 25px;
            }
        }
    
        .image-logo {
            width: 45px;
        }
    
        .navLinks-container {
            display: flex;
            align-items: center;
            flex: 1;
            width: 100%;
            gap: 0px;
            justify-content: space-around;
        }
        
        a {
            font-size: 22px;
        }
    }
}

@media (max-width: 500px) {
    nav {
        padding: 0 5px;
        .logo {
            span {
                font-size: 20px;
            }
        }
    
        .image-logo {
            width: 35px;
        }
        
        a {
            font-size: 16px;
        }
    }
}