footer {
    height: 5vh;
    background: #3d4145; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;

    .contenedor-copyright {
        display: flex;
        gap: 10px;
    }
}