@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
    font-family: oldNewspaper;
    src:  url('../../assets/fonts/OldNewspaperTypes.ttf');
}

@font-face {
    font-family: chomsky;
    src:  url('../../assets/fonts/Chomsky.otf');
}

@font-face {
    font-family: eroded;
    src:  url('../../assets/fonts/Eroded.ttf');
}

.news-container {
    display: flex;
    flex-wrap: wrap;
}


.new-card {
    width: 20%;
    padding: 0 20px;
    border-right: 2px solid black;

    .new-card-title {
        text-align: center;
        line-height: normal;
        padding: 10px 0 10px 0;
    }

    .playfair {
        font-family: 'Playfair Display', serif;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .noticia {
        font-family: 'Noticia Text', serif;
        font-size: 24px;
        font-weight: 700;
    }

    .chomsky {
        font-family: chomsky;
        font-size: 32px;
        font-weight: 500;
    }

    .eroded {
        font-family: eroded;
        font-size: 40px;
        font-weight: 300;
    }

    .new-card-byline {
        text-align: center;
        font-size: 14px;
        font-style: italic;
        padding: 10px 0 10px 0;
        margin: 5px 0px 15px 0px;
    }

    .new-card-byline::before {
        content: '';
        height: 7px;
        width: 100px;
        display: block;
        margin: 0 auto;
        border-top: 1px solid #2f2f2f;
    }

    .new-card-byline::after {
        content: '';
        height: 7px;
        width: 100px;
        display: block;
        margin: 0 auto;
        border-bottom: 1px solid #2f2f2f;
    }

    .new-card-body {
        padding-bottom: 40px;
        p {
            font-family: oldNewspaper;
            padding: 5px 10px 0px 10px;
        }

        .new-card-image {
            -webkit-filter: brightness(70%) contrast(150%) saturate(0%) brightness(150%); /* Safari 6.0 - 9.0 */
            filter: brightness(70%) contrast(150%) saturate(0%) brightness(150%);
            width: 100%;
        }
    }
}
  
.new-card:nth-child(5n) {
    border-right: 0px solid black;
}

@media (max-width: 1100px) {
    .new-card {
        width: 25%;
    }

    .new-card:nth-child(5n) {
        border-right: 2px solid black;
    }

    .new-card:nth-child(4n) {
        border-right: 0px solid black;
    }
}

@media (max-width: 900px) {
    .new-card {
        width: 33.3%;
    }

    .new-card:nth-child(4n) {
        border-right: 2px solid black;
    }

    .new-card:nth-child(3n) {
        border-right: 0px solid black;
    }
}

@media (max-width: 750px) {
    .new-card {
        width: 50%;

        .playfair {
            font-size: 25px;
        }
    
        .noticia {
            font-size: 21px;
        }
    
        .chomsky {
            font-size: 29px;
        }
    
        .eroded {
            font-size: 37px;
        }
    }

    .new-card:nth-child(3n) {
        border-right: 2px solid black;
    }

    .new-card:nth-child(2n) {
        border-right: 0px solid black;
    }
}

@media (max-width: 450px) {
    .new-card {
        width: 100%;

        .playfair {
            font-size: 22px;
        }
    
        .noticia {
            font-size: 18px;
        }
    
        .chomsky {
            font-size: 26px;
        }
    
        .eroded {
            font-size: 34px;
        }
    }

    .new-card:nth-child(2n) {
        border-right: 2px solid black;
    }

    .new-card:nth-child(n) {
        border-right: 0px solid black;
    }

}

