* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 87vh;
    background-image: url('./assets/background.jpg');
}

@media (max-width: 800px) {
    main {
        min-height: 84vh;
    }
}

@media (max-width: 550px) {
    main {
        min-height: 82vh;
    }
}